@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply outline-none bg-[var(--primary-color)] hover:bg-[var(--primary-dark-color)] text-white font-[600] px-8 py-2 rounded-full
    }
    .input{
        @apply w-full border border-neutral-300 py-3 px-2 outline-none
    }
}

:root{
    --primary-color: #fb2056; 
    --primary-dark-color: #d31d4a;
    --secondary-color: #191919; 
    --tertiary-color: #404040;
    --white-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
